<p id="notice"><%= notice %></p>

<div class="grid-x">
  <div class="small-6 cell">
    <h2>Access Groups</h2>
  </div>

  <div class="small-6 cell text-right">
    <%= link_to 'Add New Access Group', new_access_group_path, class: 'button' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @access_groups.each do |access_group| %>
      <tr>
        <td><%= link_to access_group.name, access_group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @access_groups %>
