<p id="notice"><%= notice %></p>

<h2><%= @access_group.name %></h2>

<p><%= link_to 'Edit', edit_access_group_path(@access_group), class: 'button' %> <%= link_to 'Delete', @access_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></p>
